 html {
   scroll-behavior:smooth;
}
    nav ul {
        display: flex;
        gap: 5rem;
        list-style: none;
    }
    li  a{
        color: black;
        text-decoration: none;
    }
    #resultadoCotizacion{
         Display: none;
         margin-top: 20px;
         padding: 15px; 
         border: 2px solid #00fd3b; 
         background-color: #e9f7ef;
        
    }