/* 
   HEADER Y NAVEGACIÓN */
header {
    background-color: var(--primario);
    color: var(--white);
    padding: 25px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

header h1 {
    color: var(--white);
    font-size: 1.8rem;
    margin-bottom: 10px;
}
/*Nav-bar*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

nav a {
    color: var(--white2);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: var(--secundario);
    color: var(--black2);
}